.top-image {
  width: 100%;
  height: 100vh;
  background-image: image-url('20190405231506.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;


}

.bkRGBA{
  /* 背景画像の透過用css */
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.comic-index{
  position: absolute;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 10vh 0;

}

.comic-lists{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.comic-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;

}

.comic-img-content {
  position: relative;
  background-color: #FFF;
}

.body{



}

.txst{


}

.comic-img {
  width: 33vh;
  height: 33vh;
}

.purchase-btn{
position: absolute;
right: 0;
border: 1px solid green;
border-radius: 5px;
background-color: green;
padding: 20px;
text-align: center;
color: white;
width: 150px;
}


