
.top-image-search {
  width: 100%;
  height: 100vh;
  background-image: image-url('20190405231506.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bkRGBA{
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.comic-contents-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.comic-lists-search{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.comic-lists-search>.list-search{

  width: 37vh;
  padding: 1vw;
  margin-left: 1vw;
background-color: white;

}



.comic-img-content-search {
  position: relative;
}

.txst{
  font-size: 20px;
  color: black;
}


.comic-img-search {
  width: 33vh;
  height: 33vh;
}