.sessions-main {

  width: 100%;
  min-width: 100%;
  height: 900px;
  background-image: url("1370694683.jpeg")!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.bkRGBA{
  /* 背景画像の透過用css */
  height: 100%;
  background: rgba(255,255,255,0.5);
  position: relative;
  }

.form-wrap {
  height: 100%;
  width: 100%;

}





.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
position: absolute;
right: 50%;
}

.login-red-btn {
  width: 200px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
position: absolute;
left: 80%;

}

.login-flash-message {
  text-align: center;
  color: red;
  font-size: 20px;
}