.comic-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.comic-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.comic-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-comic {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.comic-btn {
  background: rgb(255, 238, 0);
  border: 3px solid red;
  color: #fff;
  width: 10%;
  height: 50px;
  font-size: 28px;
  margin-bottom: 4vh;
  border-radius: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
